<section>
	<h1>About me</h1>
	<p>Hello. My name is Alex Dong. I am a 
programming artist, serial entreprenuer, nature lover, tea drinker and amatuer <a href="http://instagram.com/alexdong">photographer</a>. </p>
<p>My experience includes 15 years practicing calligraphy, 4 years in China's best car design university as a mechanical engineer and 7 years building multiple software startups.  </p>
<p>I live in Dunedin, New Zealand. I build life style software businesses and I am proud of it. </p>
<p>You may want to follow <a href="http://twitter.com/alexdong">me</a> on Twitter.  I am not on Linkedin and I don't plan to stay on Facebook for too long. </p>
</section>
