<section>
	<h1>Most popular posts</h1>
	<ul id="popular_posts">
		<li class="post">
			<a href="/google-plus-is-skin-deep/">Google Plus is superficially beautiful</a>
		</li>
		<li class="post">
			<a href="/what-wrong-technz-evaluation/">What's wrong with Government's software innovation Funding</a>
		</li>
		<li class="post">
			<a href="/ward-cunningham-answered-do-wikis-have-to-be-ugly/">Ward Cunningham Answered "Do Wikis Have to Be Ugly? "</a>
		</li>
		<li class="post">
			<a href="/soulmate-lost-rip-aaron-swartz/">Soulmate Lost. RIP Aaron Swartz.</a>
		</li>
		<li class="post">
			<a href="/where-the-media-stands-a-summary-of-news-coverage-on-aaron-swartzs-case-guardian-economistnytimes-bbc-yomiuri-wsj-xinhua/">A Summary of News Coverages on Aaron Swartz's Case. </a>
		</li>
	</ul>
</section>
