 
        Follow me: <a href="/atom.xml">rss feed</a>, 
        <a href="/blog/categories/bestof/">best of</a>,
        <a href="http://github.com/alexdong">github</a>,
        <a href="http://twitter.com/alexdong">twitter</a><br>
        Email: <a href="mailto:me@alexdong.com">me@alexdong.com</a>

<script>
    var _choirKey = "1f4e44d69ade508c";
    var _choirSound = "bloop/warble";
    (function() {
        var choir = document.createElement('script');
        choir.type = 'text/javascript';
        choir.async = true;
        choir.src = "http://choir.io/static/scripts/_choir.js";
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(choir, s);
    })();
</script>

