---
layout: default
title: 
footer: false
---

<div class="selfintro">
    <article class="hentry">
        <img src="/avatar.jpg">
        <p>I'm a software coder, designer and entrepreneur living in Dunedin, New Zealand.  I hack on projects that interest me. I run a small startup <a href="http://beachmonks.com">beachmonks</a> that builds <a href="http://choir.io">choir.io</a>. </p>
    </article>
</div>

<div id="blog-archives">
{% for post in site.posts reverse %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
  {% assign year = this_year %}
  <h2>{{ year }}</h2>
{% endunless %}
<article>
  {% include archive_post.html %}
</article>
{% endfor %}
</div>
