// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

$header-bg: #eee;
$subtitle-color: #333;
$page-bg: #fcfcfc; 
$main-bg: $page-bg; 
$link-color: #B5190E;
$footer-bg: $page-bg;



/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;
